@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Software designed by Roberto Sánchez (rg.sanchez.a@gmail.com) using a DNP3 open library: opendnp3 (https://dnp3.github.io/)</p>
